{% extends 'base.html' %}   <!--Наследуем файл base-->
{% block title %} {% endblock title %}
{% block content %}
    <section class="ab-info-main py-md-5 py-4 editContent" 
        style="padding-left: 3rem; padding-right: 3rem;">
        <!--добавляем этот див в контейнер, для дальнейшего его изменения в др. файлах-->
        {% block container %}
            <div class="container-fluid py-md-3">
        {% endblock %}

        <div class="row">
            {% block sidebar %}
                <div class="side-bar col-lg-3">
            {% endblock %}

            {% include 'include/sidebar.html' %}
            </div>
            
            <!-- контент будем менять в зависимости от страницы-->
            {% block movie %}
            {% endblock %}

        </div>
        </div>
    </section>
{% endblock %}